/* .bem-hint {
    background: $hint-back;
    border: 1px solid $hint-border;
    border-radius: 8px;
    padding: 1px 4px;
    /*  */
    /* font-size: 22px; */
    /* cursor: pointer; */
/* }  */

.list {
    &__item {
        padding-left: 30px;
        padding-top: 15px;
    }
}

.bem-round {
    border-radius: 35px;
}