<!DOCTYPE html>
<html lang="en">
{% include "templates/head.html" %}

<body>
    {% include "templates/overlay-root.html" %}
    <div class="site-carcass">
        <div class="site-carcass__container">
            <div class="award">
                <div class="award-header">
                    <div class="award-header__title">Ордена и медали ВОВ</div>
                </div>
                <div class="award-content">
                    <div class="award-grid">
                        <div class="award-grid__row">
                            <div class="award-grid__row-item medal">
                                <div class="medal__layout">
                                    <div class="medal-photo">
                                        <div class="medal-photo__img">
                                            <img class="img" class="img" src="/img/zolotaya-zvezda.png"
                                                alt="Золотая звезда героя">
                                        </div>
                                        <div class="medal-photo__total-number">12 776</div>
                                        <div class="medal-photo__total-descr">Всего за историю награждения медаль
                                            получили
                                        </div>
                                    </div>
                                    <div class="medal-info">
                                        <div class="medal-info__date">Дата учреждения: <span class="birthdate"> 16
                                                апреля, 1945</span></div>
                                        <div class="medal-info__title">“Золотая звезда”
                                            героя Советского Союза</div>
                                        <div class="medal-info__descr">Медаль «Золотая Звезда» являлась знаком отличия,
                                            который вручали только людям, удостоенным высшего звания — Героя Советского
                                            Союза</div>
                                        <div class="medal-info__facts">
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="award-grid__row-item medal medal__active">
                                <div class="medal__layout medal__layout-active">
                                    <div class="medal-photo">
                                        <div class="medal-photo__img">
                                            <img class="img" src="/img/za_otvagu.png" alt="За отвагу">
                                        </div>
                                        <div class="medal-photo__total-number">4 600 000</div>
                                        <div class="medal-photo__total-descr">Всего за историю награждения медаль
                                            получили
                                        </div>
                                    </div>
                                    <div class="medal-info">
                                        <div class="medal-info__date">Дата учреждения: <span class="birthdate"> 16
                                                апреля, 1945</span></div>
                                        <div class="medal-info__title">“За отвагу”</div>
                                        <div class="medal-info__descr">Медаль „За отвагу“ учреждена для награждения за
                                            личное мужество и отвагу, проявленные при защите социалистического Отечества
                                            и исполнении воинского долга. </div>
                                        <div class="medal-info__facts">
                                            <div>
                                                В настоящее время медалью награждаются
                                                военнослужащие, а также сотрудники
                                                органов внутренних дел РФ за личное мужество и отвагу, проявленные в:
                                                <br>
                                                <ul class="list">
                                                    <li class="list__item">боях при защите Отечества и государственных
                                                        интересов Российской Федерации</li>
                                                    <li class="list__item">при выполнении специальных заданий по
                                                        обеспечению
                                                        государственной
                                                        безопасности Российской Федерации</li>
                                                    <li class="list__item">при исполнении воинского,
                                                        служебного или гражданского долга, защите
                                                        конституционных прав граждан и при других обстоятельствах,
                                                        сопряжённых с
                                                        риском для жизни.</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="award-grid__row-item medal">
                                <div class="medal__layout">
                                    <div class="medal-photo">
                                        <div class="medal-photo__img">
                                            <img class="img" src="/img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="medal-photo__total-number">5 210 078</div>
                                        <div class="medal-photo__total-descr">Всего за историю награждения медаль
                                            получили
                                        </div>
                                    </div>
                                    <div class="medal-info">
                                        <div class="medal-info__date">Дата учреждения: <span class="birthdate"> 17
                                                октября, 1938</span></div>
                                        <div class="medal-info__title">“За боевые заслуги”</div>
                                        <div class="medal-info__descr">Государственная награда СССР для награждения за
                                            умелые, инициативные и смелые действия, сопряженными с риском для жизни,
                                            содействующие успеху боевых действий с врагами Советского государства.</div>
                                        <div class="medal-info__facts">
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint" data-title="Личность"
                                                    data-body="Лётчик-ас времён Великой Отечественной войны, 
                                                    наиболее результативный лётчик-истребитель в авиации союзников (64 победы).">
                                                    И. Н. Кожедуб</span> <br> и <span class="bem-hint"> А. И.
                                                    Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="award-grid__row-item medal">
                                <div class="medal__layout">
                                    <div class="medal-photo">
                                        <div class="medal-photo__img">
                                            <img class="img" src="/img/zolotaya-zvezda.png" alt="">
                                        </div>
                                        <div class="medal-photo__total-number">12 776</div>
                                        <div class="medal-photo__total-descr">Всего за историю награждения медаль
                                            получили
                                        </div>
                                    </div>
                                    <div class="medal-info">
                                        <div class="medal-info__date">Дата учреждения: <span class="birthdate"> 16
                                                апреля, 1945</span></div>
                                        <div class="medal-info__title">“Золотая звезда”
                                            героя Советского Союза</div>
                                        <div class="medal-info__descr">Медаль «Золотая Звезда» являлась знаком отличия,
                                            который вручали только людям, удостоенным высшего звания — Героя Советского
                                            Союза</div>
                                        <div class="medal-info__facts">
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                            <div>
                                                Трижды удостоились два лётчика — маршалы авиации
                                                <span class="bem-hint"> И. Н. Кожедуб</span> <br> и <span
                                                    class="bem-hint"> А. И. Покрышкин</span>,
                                                а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                                    Будённый</span>.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "templates/scripts.html" %}
</body>

</html>