<!DOCTYPE html>
<html class="html" lang="en" data-theme="dark">
{% include "templates/head.html" %}

<body>
    {% include "templates/overlay-root.html" %}
    <div class="site-carcass">
        <div class="site-carcass__container">
            <div class="award">
                <div class="award-header">
                    <div class="award-header__title">Ордена и медали ВОВ</div>
                </div>
                <div class="award-content">
                    <div class="award-content__grid catalog bem-round">
                        <div class="catalog__layout">
                            <div class="catalog__title">
                                <svg class="bem-arrow" width="21" height="12" viewBox="0 0 21 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M20.0827 2.46286L10.9458 11.7078C10.5612 12.0974 9.93981 12.0974 9.5542 11.7078L0.417332 2.46286C-0.139111 1.90053 -0.139111 0.985625 0.417332 0.422297C0.973776 -0.140033 1.87687 -0.140033 2.43332 0.422296L10.2505 8.33087L18.0657 0.422296C18.6231 -0.140034 19.5262 -0.140034 20.0827 0.422296C20.6391 0.985624 20.6391 1.90053 20.0827 2.46286"
                                        fill="#F8F8F8" />
                                </svg>
                                <div class="title">
                                    Медали
                                </div>
                            </div>
                            <div class="catalog__layout-grid">
                                <div class="catalog__grid ">
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__layout">
                            <div class="catalog__title">
                                <svg class="bem-arrow" width="21" height="12" viewBox="0 0 21 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M20.0827 2.46286L10.9458 11.7078C10.5612 12.0974 9.93981 12.0974 9.5542 11.7078L0.417332 2.46286C-0.139111 1.90053 -0.139111 0.985625 0.417332 0.422297C0.973776 -0.140033 1.87687 -0.140033 2.43332 0.422296L10.2505 8.33087L18.0657 0.422296C18.6231 -0.140034 19.5262 -0.140034 20.0827 0.422296C20.6391 0.985624 20.6391 1.90053 20.0827 2.46286"
                                        fill="#F8F8F8" />
                                </svg>
                                <div class="title">
                                    Ордена
                                </div>
                            </div>
                            <div class="catalog__layout-grid">
                                <div class="catalog__grid ">
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                    <div class="catalog__item bem-round">
                                        <div class="catalog__item-image">
                                            <img class="img" src="./img/za_boevie_zaslugi.png" alt="">
                                        </div>
                                        <div class="catalog__item-title">“Золотая звезда” героя Советского Союза</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="award-content__container medal medal-active bem-round">
                        <div class="medal__layout medal__layout-active bem-round">
                            <div class="medal-photo">
                                <div class="medal-photo__img">
                                    <img class="img" class="img" src="/img/zolotaya-zvezda.png"
                                        alt="Золотая звезда героя">
                                </div>
                                <div class="medal-photo__total-number">12 776</div>
                                <div class="medal-photo__total-descr">человек <br> было
                                    нагрждено
                                </div>
                            </div>
                            <div class="medal-info">
                                <div class="medal-info__date">Дата учреждения: <span class="birthdate"> 16
                                        апреля, 1945</span></div>
                                <div class="medal-info__title">“Золотая звезда”
                                    героя Советского Союза</div>
                                <div class="medal-info__descr">Медаль «Золотая Звезда» являлась знаком отличия,
                                    который вручали только людям, удостоенным высшего звания — Героя Советского
                                    Союза</div>
                                <div class="medal-info__facts">
                                    <div class="medal-info__facts-title"></div>
                                    <div>
                                        Трижды удостоились два лётчика — маршалы авиации
                                        <span class="bem-hint"> И. Н. Кожедуб</span> и <span class="bem-hint"> А.
                                            И. Покрышкин</span>,
                                        а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                            Будённый</span>.
                                    </div>
                                    <div>
                                        Трижды удостоились два лётчика — маршалы авиации
                                        <span class="bem-hint"> И. Н. Кожедуб</span> и <span class="bem-hint"> А.
                                            И. Покрышкин</span>,
                                        а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                            Будённый</span>.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="medal__layout  bem-round">
                            <div class="medal-photo">
                                <div class="medal-photo__img">
                                    <img class="img" class="img" src="/img/zolotaya-zvezda.png"
                                        alt="Золотая звезда героя">
                                </div>
                                <div class="medal-photo__total-number">12 222</div>
                                <div class="medal-photo__total-descr">человек <br> было
                                    нагрждено
                                </div>
                            </div>
                            <div class="medal-info">
                                <div class="medal-info__date">Дата учреждения: <span class="birthdate"> 16
                                        апреля, 1945</span></div>
                                <div class="medal-info__title">“Золотая звезда”
                                    героя Советского Союза</div>
                                <div class="medal-info__descr">Медаль «Золотая Звезда» являлась знаком отличия,
                                    который вручали только людям, удостоенным высшего звания — Героя Советского
                                    Союза</div>
                                <div class="medal-info__facts">
                                    <div class="medal-info__facts-title"></div>
                                    <div>
                                        Трижды удостоились два лётчика — маршалы авиации
                                        <span class="bem-hint"> И. Н. Кожедуб</span> и <span class="bem-hint"> А.
                                            И. Покрышкин</span>,
                                        а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                            Будённый</span>.
                                    </div>
                                    <div>
                                        Трижды удостоились два лётчика — маршалы авиации
                                        <span class="bem-hint"> И. Н. Кожедуб</span> и <span class="bem-hint"> А.
                                            И. Покрышкин</span>,
                                        а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                            Будённый</span>.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="theme">
                            <div class="theme__layout">
                                <div class="theme__item theme__item_dark theme__item-active" data-theme-mode="dark"></div>
                                <div class="theme__item theme__item_white" data-theme-mode="white"></div>
                                <div class="theme__item theme__item_old" data-theme-mode="old"></div>
                            </div>
                        </div>
                    </div>
             








                    <!-- <div class="award-grid__row-item medal">
                        <div class="medal__layout">
                            <div class="medal-photo">
                                <div class="medal-photo__img">
                                    <img class="img" class="img" src="/img/zolotaya-zvezda.png"
                                        alt="Золотая звезда героя">
                                </div>
                                <div class="medal-photo__total-number">12 776</div>
                                <div class="medal-photo__total-descr">Всего за историю награждения медаль
                                    получили
                                </div>
                            </div>
                            <div class="medal-info">
                                <div class="medal-info__date">Дата учреждения: <span class="birthdate"> 16
                                        апреля, 1945</span></div>
                                <div class="medal-info__title">“Золотая звезда”
                                    героя Советского Союза</div>
                                <div class="medal-info__descr">Медаль «Золотая Звезда» являлась знаком отличия,
                                    который вручали только людям, удостоенным высшего звания — Героя Советского
                                    Союза</div>
                                <div class="medal-info__facts">
                                    <div>
                                        Трижды удостоились два лётчика — маршалы авиации
                                        <span class="bem-hint"> И. Н. Кожедуб</span>  и <span class="bem-hint"> А.
                                            И. Покрышкин</span>,
                                        а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                            Будённый</span>.
                                    </div>
                                    <div>
                                        Трижды удостоились два лётчика — маршалы авиации
                                        <span class="bem-hint"> И. Н. Кожедуб</span>  и <span class="bem-hint"> А.
                                            И. Покрышкин</span>,
                                        а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                            Будённый</span>.
                                    </div>
                                    <div>
                                        Трижды удостоились два лётчика — маршалы авиации
                                        <span class="bem-hint"> И. Н. Кожедуб</span>  и <span class="bem-hint"> А.
                                            И. Покрышкин</span>,
                                        а также Маршал Советского Союза <span class="bem-hint"> С. М.
                                            Будённый</span>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->



                </div>
            </div>
        </div>
    </div>

    {% include "templates/scripts.html" %}
</body>

</html>